<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970057789047-kusioan1d0ancpifssqmetvs80ipidev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970057789047-kusioan1d0ancpifssqmetvs80ipidev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970057789047-hdku08rkubqh2qsoom23s3qe6bbisijr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBM7gL6FM9LeypUddoqfqhSQtM5pHgzTss</string>
	<key>GCM_SENDER_ID</key>
	<string>970057789047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tingsapp.movers</string>
	<key>PROJECT_ID</key>
	<string>tingsapp-335709</string>
	<key>STORAGE_BUCKET</key>
	<string>tingsapp-335709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970057789047:ios:0e65a5de7081e39cdce072</string>
	<key>DATABASE_URL</key>
	<string>https://tingsapp-335709-default-rtdb.firebaseio.com</string>
</dict>
</plist>